<div>
	<h1>{{model.title}}</h1>

	<form name="clientForm">
		<fieldset ng-disabled="model.disableForm">
			<div>
				<label for="name">Nombre: </label>
				<input type="text" id="name" ng-model="model.name">
				<br/>
				<label for="phoneInput">Telefono(s): </label>
				<button type="button" ng-click="model.addNewClientPhone()">+</button>
				<br/>
				<div ng-repeat="phone in model.phones track by $index">
					<label for="phoneInput">Telefono #{{$index + 1}}:</label>
					<input type="number" id="phoneInput" ng-model="phone" ng-change="model.savePhone($index, phone)">
					<button type="button" ng-click="model.removeNewClientPhone($index)">X</button>
				</div>
				<label for="created">Fecha de Ingreso</label>
				<input type="date" id="created" ng-model="model.created">
			</div>
		</fieldset>
		<div ng-show="!model.pop">
			<button ng-if="!model.editingClient" type="submit" ng-click="model.saveClient()">Guardar</button>
			<button type="button" ng-if="model.editingClient" ng-click="model.editClient()">Editar</button>
			<button type="button" ng-click="model.cancel()">Cancelar</button>
		</div>
	</form>
	<message message="model.message" show="model.pop" confirm="model.confirm()"></message>
</div>