<div>
	<h1>{{model.title}}</h1>

	<form name="clientForm">
		<fieldset ng-disabled="model.disableForm">
			<div>
				<label for="name">Nombre: </label>
				<input type="text" id="name" ng-model="model.name">
				<phones phones="model.phones"></phones>
				<label for="created">Fecha de Ingreso</label>
				<input type="date" id="created" ng-model="model.created">
			</div>
		</fieldset>
		<div ng-show="!model.pop">
			<button ng-if="!model.editingClient" type="submit" ng-click="model.saveClient()">Guardar</button>
			<button type="button" ng-if="model.editingClient" ng-click="model.editClient()">Editar</button>
			<button type="button" ng-click="model.cancel()">Cancelar</button>
		</div>
	</form>
	<message message="model.message" show="model.pop" confirm="model.confirm()"></message>
</div>