<div class="panel panel-default">
    <fieldset class="panel-body" ng-disabled="model.disableForm">
        <div class="col-sm-6">
            <caption>Abonos:</caption>
            <div class="form-group">
                <label>Fecha:</label>
                <input class="form-control" type="date" ng-model="model.advanceDate">
            </div>


            <label>Monto:</label>
            <div class="input-group">
                <money-input id="advance" text="model.advanceAmount"></money-input>
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="model.addAdvance()">
                        Agregar <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </button>
                </span>
            </div>

        </div>
        <div class="col-sm-6">
            <table class="table table-bordered table-striped" ng-if="model.advances.length > 0">
                <thead>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th class="col-sm-1"></th>
                </thead>
                <tr ng-repeat="advance in model.advances track by $index">
                    <td>{{advance.date | date:"MM/dd/yyyy"}}</td>
                    <td>{{advance.amount | currency}}</td>
                    <td class="col-sm-1">
                        <button class="btn btn-danger btn-block" type="button" ng-click="model.removeAdvance($index)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </table>

            <message type="model.messageType" message="model.message" show="model.pop" confirm="model.confirm()" cancel="model.cancel()"></message>
        </div>
    </fieldset>
</div>