<div class="modal-dialog" ng-show="model.show">
	<div class="panel {{model.headingClass}}">
		<div class="panel-heading">
			<h4 class="modal-title">{{model.title}}</h4>
		</div>
		<div class="panel-body panel-body-modal">
			<span>{{model.message}}</span>
		</div>
		<div class="panel-footer">
			<button class="btn btn-success" type="button" ng-click="model.confirmMessage()" data-dismiss="modal">
				<span class="glyphicon glyphicon-ok"></span> OK
			</button>
			<button class="btn btn-danger" type="button" ng-click="model.cancelMessage()" ng-show="model.cancelButton" data-dismiss="modal">
				<span class="glyphicon glyphicon-remove"></span> Cancelar
			</button>
		</div>
	</div>
</div>