<div>
	<label>Telefono(s): </label>
	<button type="button" ng-click="model.addNewClientPhone()">+</button>
	<br/>
	<div ng-repeat="phone in model.phones track by $index">
		<label for="phoneinput">Telefono #{{$index + 1}}:</label>
		<input type="text" name="phoneinput" ng-model="phone" ng-keydown="model.supressKeys($event, $index)" required ng-keyup="model.format($index)" ng-change="model.savePhone($index, phone)">
		<button type="button" ng-click="model.removeNewClientPhone($index)">X</button>
	</div>
	<span ng-show="model.form.phoneinput.$invalid">El # de telefono es requerido.</span>
	<message message="model.message" show="model.pop" confirm="model.confirm()"></message>
</div>