<ng-form name="phoneForm">
	<div>
		<label>Telefono(s): </label>
		<button ng-disabled="phoneForm.phoneinput.$invalid" type="button" ng-click="model.addNewClientPhone()">+</button>
		<br/>
		<div ng-repeat="phone in model.phones track by $index">
			<label for="phoneinput">Telefono #{{$index + 1}}:</label>
			<input type="text" name="phoneinput" ng-model="phone" ng-keydown="model.supressKeys($event, $index)" ng-keyup="model.format($index)"
				ng-change="model.savePhone($index, phone)" required>
			<button type="button" ng-click="model.removeNewClientPhone($index)">X</button>
		</div>
		<p ng-show="phoneForm.phoneinput.$invalid">El numero de telefono es requerido.</p>
		<message message="model.message" show="model.pop" confirm="model.confirm()"></message>
	</div>
</ng-form>