<div class="panel-heading">
    <caption>{{model.title}}</caption>
</div>
<div class="panel-body">
    <ng-form name="artForm">
        <fieldset ng-disabled="model.disableForm">

            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="invoice"># de Documento: </label>
                        <div class="input-group">
                            <input type="text" id="invoice" ng-model="model.invoice" class="form-control">
                            <span class="input-group-addon">
                                <input type="checkbox" ng-model="model.complete">Listo para Entregar
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="orderDate">Fecha de Ingreso: </label>
                        <input class="form-control" type="date" name="orderDate" ng-model="model.date">
                    </div>
                    <div class="form-group">
                        <label for="delivery">Fecha de Entrega: </label>
                        <input class="form-control" type="date" name="delivery" ng-model="model.delivery">
                    </div>
                    <div>
                        <label for="selectArt">Tipo de Arte: </label>
                        <select class="form-control" id="selectArt" ng-model="model.selectedArt" ng-options="art for art in model.arts" ng-change="model.renderCalculators()">
                        </select>
                    </div>
                </div>

                <div class="col-sm-7">
                    <client-lookup-component client-id="model.clientId" />
                </div>
            </div>
            <hr/>
            <div class="row" ng-if="model.disableCalculators">
                <div class="{{model.calculatorSize}}" ng-repeat="product in model.products">
                    <calculator product="product" totals="model.totals()" />
                </div>

                <div class="panel panel-default {{model.calculatorSize}}">
                    <div class="panel-heading">
                        <caption>Totales</caption>
                    </div>
                    <div class="panel-body">
                        <span>Subtotal: {{model.subtotal | currency}}</span>
                        <br/>
                        <span>Otros: {{model.others | currency}}</span>
                        <br/>
                        <span>Total: {{model.productTotal | currency}}</span>
                        <div class="form-group">
                            <label for="details">Comentarios:</label>
                            <textarea class="form-control" name="details" rows="4" cols="50" ng-model="model.details"></textarea>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-success btn-block" ng-disabled="!artForm.$valid" type="button" ng-click="model.addOrder()">Agregar Orden</button>
                    </div>
                </div>
            </div>
            <hr/>
            <div>
                <h2>Encargos:</h2>
                <ul>
                    <li ng-repeat="order in model.orders track by $index">
                        {{order.type}}: {{order.amount | currency}}
                        <button type="button" ng-click="model.deleteOrder($index)">Eliminar</button>
                        <div>
                            <textarea rows="5" cols="25">{{order.description}}</textarea>
                        </div>
                    </li>
                </ul>
                <hr/>
                <span>Total Encargos: {{model.orderTotal | currency}}</span>
                <br/>
                <span>Saldo: {{model.remaining | currency}}</span>
                <br/>
                <label for="specialPrice">Precio Final: </label>
                <money-input text="model.price" ng-keydown="model.updatePrice()" blur="model.orderTotals()"></money-input>
                <button type="button" ng-click="model.resetPrice()">Reestablecer</button>
                <br/>
            </div>
            <br/>
            <div>
                <advance-component advances="model.advances" remaining="model.remaining" display-totals="model.orderTotals()" />
            </div>
        </fieldset>
        <hr/>
        <button type="button" ng-if="!model.editingOrder" ng-click="model.finish()">Completar Encargo</button>
        <button type="button" ng-if="model.editingOrder" ng-click="model.editOrder()">Editar</button>
        <button type="button" ng-click="model.cancelOrder()">Cancelar</button>
    </ng-form>
    <message type="model.messageType" message="model.message" show="model.pop" confirm="model.confirm()" cancel="model.cancel()"></message>
</div>