<div>
    <fieldset ng-disabled="model.disableForm">
        <h1>{{model.title}}</h1>
        <div>
            <client-lookup-component client-id="model.clientId" />
        </div>
        <hr/>
        <div ng-if="model.disableCalculators">
            <label for="selectArt">Tipo de Arte: </label>
            <select id="selectArt" ng-model="model.selectedArt" ng-options="art for art in model.arts" ng-change="model.renderCalculators()">
            </select>
            <br/>
            <div ng-repeat="product in model.products">
                <calculator product="product" totals="model.totals()" />
            </div>
            <span>Subtotal: {{model.subtotal | currency}}</span>
            <br/>
            <span>Otros: {{model.others | currency}}</span>
            <br/>
            <span>Total: {{model.productTotal | currency}}</span>
            <hr/>
            <label for="details">Comentarios:</label>
            <br/>
            <textarea name="details" rows="4" cols="50" ng-model="model.details"></textarea>
            <br/>
            <button type="button" ng-click="model.addOrder()">Agregar Orden</button>
        </div>
        <div>
            <h2>Encargos:</h2>
            <ul>
                <li ng-repeat="order in model.orders track by $index">
                    {{order.type}}: {{order.amount | currency}}
                    <button type="button" ng-click="model.deleteOrder($index)">Eliminar</button>
                    <div>
                        <textarea rows="5" cols="25">{{order.description}}</textarea>
                    </div>
                </li>
            </ul>
            <hr/>
            <div>
                <advance-component advances="model.advances" remaining="model.remaining" display-totals="model.orderTotals()" />
            </div>
            <span>Total Encargos: {{model.orderTotal | currency}}</span>
            <br/>
            <span>Saldo: {{model.remaining | currency}}</span>
            <br/>
            <label for="specialPrice">Precio Final: </label>
            <money-input text="model.finalPrice" ng-keydown="model.updatePrice()"></money-input>
            <!--<input type="number"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" name="specialPrice" ng-model="model.finalPrice" ng-keydown="model.updatePrice()">-->
            <button type="button" ng-click="model.resetPrice()">Reestablecer</button>
            <br/>
            <label for="orderDate">Fecha de Ingreso: </label>
            <input type="date" name="orderDate" ng-model="model.date">
            <label for="delivery">Fecha de Entrega: </label>
            <input type="date" name="delivery" ng-model="model.delivery">
        </div>
        <hr/>
        <button type="button" ng-click="model.finish()">Completar Encargo</button>
    </fieldset>
    <message type="model.messageType" message="model.message" show="model.pop" confirm="model.confirm()" cancel="model.cancel()"></message>
</div>