<div>
	<h1>{{model.title}}</h1>

	<form name="providerForm">
		<fieldset ng-disabled="model.disableForm">
			<label for="name">Nombre: </label>
			<input type="text" id="name" ng-model="model.name">
			<phones phones="model.phones"></phones>
		</fieldset>
		<div ng-show="!model.pop">
			<button ng-if="!model.editingProvider" type="submit" ng-click="model.saveProvider()">Guardar</button>
			<button ng-if="model.editingProvider" type="submit" ng-click="model.editProvider()">Editar</button>
			<button type="button" ng-click="model.cancel()">Cancelar</button>
		</div>
	</form>
	<message show="model.pop" message="model.message" confirm="model.confirm()"></message>
</div>