<div>
	<h1>{{model.title}}</h1>

	<form name="providerForm">
		<fieldset ng-disabled="model.disableForm">
			<label for="name">Nombre: </label>
			<input type="text" id="name" ng-model="model.name">
			<phones phones="model.phones"></phones>
		</fieldset>
		<div ng-show="!model.pop">
			<button ng-if="!model.editingProvider" type="submit" ng-click="model.saveProvider()">Guardar</button>
			<button ng-if="model.editingProvider" type="submit" ng-click="model.editProvider()">Editar</button>
			<button type="button" ng-click="model.cancelEdit()">Cancelar</button>
		</div>
	</form>
	<hr/>
	<span ng-show="model.editingProvider" ng-click="model.invoiceForm()">Insertar Nuevo Documento</span>
	<div ng-show="model.newInvoice">
		<label for="type">Tipo de Factura</label>
		<select id="type" ng-model="model.selectedInvoiceType" ng-options="invoiceType for invoiceType in model.invoiceTypes">
		</select>
		<br/>
		<label for="invoiceNumber"># de Factura</label>
		<input type="text" id="invoiceNumber" ng-model="model.invoiceNumber">
		<br/>
		<label for="amount">Monto</label>
		<input type="number" id="amount" ng-model="model.invoiceAmount">
		<br/>
		<label for="date">Fecha de Emision</label>
		<input type="date" id="date" ng-model="model.invoiceDate">
		<br/>
		<label for="dueDate">Fecha de Vencimiento</label>
		<input type="date" id="dueDate" ng-model="model.invoiceDueDate">
		<br/>
		<button type="button" ng-click="model.addInvoice()">Agregar Factura</button>
		<button type="button" ng-click="model.cancelInvoice()">Cancelar</button>
	</div>
	<hr/>
	<div>
		<table>
			<thead>
				<th># de Documento</th>
				<th>Tipo de Documento</th>
				<th>Monto</th>
				<th>Fecha Emision</th>
				<th>Fecha Vencimiento</th>
				<th>Saldo</th>
			</thead>
			<tr ng-repeat="invoice in model.invoices">
				<td>{{invoice.number}}</td>
				<td>{{invoice.type}}</td>
				<td>{{invoice.amount}}</td>
				<td>{{invoice.date | date:"MM/dd/yyyy"}}</td>
				<td>{{invoice.due | date:"MM/dd/yyyy"}}</td>
				<td>{{invoice.balance}}</td>
			</tr>
		</table>
	</div>
	<message type="model.messageType" show="model.pop" message="model.message" confirm="model.confirm()" cancel="model.cancel()"></message>
</div>