<ng-form name="calculatorForm">
    <div>
        <h3>{{model.product.name}}</h3>
        <label for="rectangleBase">Ancho: </label>
        <input type="number" name="rectangleBase" ng-model="model.product.base" ng-keydown="model.validateKeys($event)" ng-keyup="model.validateInput()"
            required ng-focus="model.focus(model.product.base)">
        <p ng-show="calculatorForm.rectangleBase.$invalid">El Ancho es requerido...</p>
        <br/>
        <label for="rectangleHeight">Largo: </label>
        <input type="number" name="rectangleHeight" ng-model="model.product.height" ng-keydown="model.validateKeys($event)" ng-keyup="model.validateInput()"
            required>
        <p ng-show="calculatorForm.rectangleHeight.$invalid">El Largo es requerido...</p>
        <br/>
        <div ng-if="model.product.required">
            <label for="rectangleRefill">Refil: </label>
            <input type="number" name="rectangleRefil" ng-model="model.product.refill" ng-keydown="model.validateKeys($event)" ng-keyup="model.validateInput()"
                required>
            <p ng-show="calculatorForm.rectangleRefil.$invalid">El Refil es requerido...</p>
        </div>
        <label for="cmPrice">Precio cm: </label>
        <input type="number" name="cmPrice" ng-model="model.product.cmPrice" ng-keydown="model.validateKeys($event)" ng-keyup="model.validateInput()"
            required>
        <p ng-show="calculatorForm.cmPrice.$invalid">El Precio cm es requerido...</p>
        <br/> Total {{model.product.name}}: {{model.product.total | currency}}
        <hr/>
    </div>
</ng-form>