<div class="panel panel-default">
    <div class="panel-heading">
        <caption>{{model.product.name}}</caption>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-sm-5" for="rectangleBase">Ancho: </label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" name="rectangleBase" ng-model="model.product.base" ng-keydown="model.validateKeys($event)"
                        ng-keyup="model.validateInput()" required ng-focus="model.focus(model.product.base)">
                </div>
            </div>
            <p ng-show="calculatorForm.rectangleBase.$invalid">El Ancho es requerido...</p>

            <div class="form-group">
                <label class="control-label col-sm-5" for="rectangleHeight">Largo: </label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" name="rectangleHeight" ng-model="model.product.height" ng-keydown="model.validateKeys($event)"
                        ng-keyup="model.validateInput()" required>
                </div>
            </div>
            <p ng-show="calculatorForm.rectangleHeight.$invalid">El Largo es requerido...</p>

            <div class="form-group" ng-if="model.product.required">
                <label class="control-label col-sm-5" for="rectangleRefill">Refil: </label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" name="rectangleRefil" ng-model="model.product.refill" ng-keydown="model.validateKeys($event)"
                        ng-keyup="model.validateInput()" required>
                </div>
                <p ng-show="calculatorForm.rectangleRefil.$invalid">El Refil es requerido...</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-5" for="cmPrice">Precio cm: </label>
                <div class="col-sm-6">
                    <input class="form-control" type="number" name="cmPrice" ng-model="model.product.cmPrice" ng-keydown="model.validateKeys($event)" ng-keyup="model.validateInput()"
                        required>
                </div>
            </div>
            <p ng-show="calculatorForm.cmPrice.$invalid">El Precio cm es requerido...</p>
        </div>
    </div>
    <div class="panel-footer">
        Total {{model.product.name}}: {{model.product.total | currency}}
    </div>

</div>