<div>
    <h2>{{product.name}}</h2>

    <label for="rectangleBase">Ancho: </label>
    <input type="number" id="rectangleBase" ng-model="product.base" ng-keyup="product.calculate()">

    <br/>
    <label for="rectangleHeight">Largo: </label>
    <input type="number" id="rectangleHeight" ng-model="product.height" ng-keyup="product.calculate()">

    <br/>
    <div ng-show="product.required">
        <label for="rectangleRefill">Refil: </label>
        <input type="number" id="rectangleRefil" ng-model="product.refill" ng-keyup="product.calculate()">
    </div>

    <label for="cmPrice">Precio cm: </label>
    <input type="number" id="cmPrice" ng-model="product.cmPrice" ng-keyup="product.calculate()">

    <hr/> Total {{product.name}}: {{product.total | currency}}
</div>