<div>
    <nav class="navbar navbar-inverse">
        <a class="navbar-brand" ng-link="['Main']"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> La Galeria</a>
        <ul class="nav navbar-nav">
            <li><a ng-link="['ArtCalculator']"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Nuevo Encargo</a></li>
            <li><a ng-link="['Reservation']"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Nueva Venta</a></li>
            <li><a ng-link="['ReservationList']"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Ventas</a></li>
            <li><a ng-link="['ClientList']"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Clientes</a></li>
            <li><a ng-link="['Inventory']"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Inventario</a></li>
            <li><a ng-link="['ProviderList']"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Proveedores</a></li>
        </ul>
    </nav>
</div>