<div class="panel panel-default">
	<div class="panel-heading">
		<b>Clientes</b>
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="model.findClient()">
					<span class="glyphicon glyphicon-search" aria-hidden="true"/>
				</button>
			</span>
			<input type="text" class="form-control" ng-model="model.clientName" placeholder="Busqueda de clientes...">
		</div>
	</div>

	<div class="panel-body">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<th>
					<div ng-click="model.sort('name')">Nombre</div>
				</th>
				<th>
					<div ng-click="model.sort('phones')">Telefono</div>
				</th>
				<th>
					<div ng-click="model.sort('created')">Fecha Ingreso</div>
				</th>
				<th class="col-sm-1">
					<button class="btn btn-primary btn-block" type="button" ng-link="['Client']">Nuevo Cliente</button>
				</th>
			</thead>
			<tr ng-repeat="client in model.clients | filter:model.clientName | orderBy:model.orderBy">
				<td><span>{{client.name}}</span></td>
				<td><span>{{client.phones[0]}}</span></td>
				<td>{{client.created | date:"MM/dd/yyyy"}}</td>
				<td class="col-sm-1">
					<button class="btn btn-info btn-block" type="button" ng-link="['EditClient', {id: client._id}]">Detalles</button>
				</td>
			</tr>
		</table>
	</div>
</div>