<div>
    <h1>{{model.title}}</h1>

    <form name="reservationForm">
        <fieldset ng-disabled="model.disableForm">
            <div ng-click="model.endArticleSearch()">
                <label for="client">Buscar Cliente: </label>
                <input id="client" type="text" ng-model="model.client" ng-keyup="model.beginClientSearch()" autocomplete="off">
                <div ng-show="model.lookupClient" ng-repeat="client in model.lookupClients" ng-click="model.selectClient(client._id)">
                    <span>
                        {{client.name}} - {{client.phones[0]}}
                    </span>
                </div>
            </div>
            <div ng-click="model.endClientSearch()">
                <label for="article">Buscar Articulo: </label>
                <input id="article" type="text" ng-model="model.article" ng-keyup="model.beginArticleSearch()" autocomplete="off">
                <div ng-show="model.lookupArticle" ng-click="model.selectArticle(article._id)" ng-repeat="article in model.lookupArticles">
                    <span>
                        {{article.description}}: {{article.price}} - {{article.stock}} restantes.
                    </span>
                </div>
            </div>
            <hr/>
            <div>
                <client-component clientid="model.clientId" $router="model.$router" />
            </div>
            <hr/>
            <div ng-click="model.endArticleSearch();model.endClientSearch()">
                <label for="invoice"># de Apartado: </label>
                <input id="invoice" type="text" ng-model="model.invoice">
                <br/>
                <label for="date">Fecha: </label>
                <input id="date" type="date" ng-model="model.date">
                <br/>
                <label for="price">Precio Total: </label>
                <input id="price" type="number" ng-model="model.price">
                <label for="remaining">Saldo: </label>
                <span id="remaining">{{model.remaining | currency}}</span>
                <hr/>
                <div>
                    <h3>Articulos:</h3>
                    <ul>
                        <li ng-repeat="article in model.articles track by $index">
                            <div ng-if="article.stock">
                                {{article.description}} - {{article.price | currency}} X {{article.stock}}: {{(article.price * article.stock) | currency}}
                                <button type="button" ng-click="model.addArticle(article._id)">+</button>
                                <button type="button" ng-click="model.removeArticle(article._id, $index)">-</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr/>
                <div>
                    <h3>Abonos:</h3>
                    <label for="advance">Nuevo Abono: </label>
                    <input id="advance" type="number" ng-model="model.advanceAmount">
                    <input type="date" ng-model="model.advanceDate">
                    <button type="button" ng-click="model.addAdvance()">Agregar Abono</button>
                    <ul>
                        <li ng-repeat="advance in model.advances track by $index">
                            {{advance.date | date:"MM/dd/yyyy"}} - {{advance.amount | currency}}
                            <button type="button" ng-click="model.removeAdvance($index)">Eliminar</button>
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
        <div ng-show="!model.pop">
            <button ng-if="!model.editingReservation" type="submit" ng-click="model.saveReservation()">Guardar</button>
            <button type="button" ng-if="model.editingReservation" ng-click="model.editReservation()">Editar</button>
            <button type="button" ng-click="model.cancelEditReservation()">Cancelar</button>
        </div>
    </form>
    <message type="model.messageType" message="model.message" show="model.pop" confirm="model.confirm()" cancel="model.cancel()"></message>
</div>